<div class="container teal borderYtoX">
        <a routerLink="/" class="nav-link" aria-current="page" >
          <img src="../assets/logo.jpeg" alt="home">
        </a>
      <a routerLink="/store" class="nav-link" *ngIf="isLoggedIn$" routerLinkActive="active" >Product</a>
      <a routerLink="/campaign" class="nav-link" *ngIf="isLoggedIn$" routerLinkActive="active">Campaign</a>
      <a routerLink="/addProduct" class="nav-link"  *ngIf="isAdmin$"  routerLinkActive="active" >Add product</a>
      <a routerLink="/addAdCampaign" class="nav-link" *ngIf="isAdmin$" routerLinkActive="active">Add ad campaign</a>
      <a routerLink="/modifyAdCampaign" class="nav-link" *ngIf="isAdmin$" routerLinkActive="active">Modify ad campaign</a>
      <a href routerLink="/signin" class="nav-link" (click)="onLogout()">LogOut</a>
</div>

