<h2>Products</h2>
<div class="form-group">
<div class="searchbar">
    <input type="text" placeholder="Search a product" id="filter" #filter/>
    <button class="btn btn-primary" label="search" (click)="getSearchedProducts(filter.value)">Search</button>
</div>
<div class="row"  >
  <table class="table">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Campaign</th>

    </tr>
    </thead>

    <tbody  >
    <tr *ngFor="let product of products">
      <td><img alt="" src="{{product.image}}" style="width: 70px; height: 80px"></td>
      <td>{{product.name}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.price+"€" }}</td>
      <td>{{product.campaign != null ? product.campaign["name"] : ""}}</td>
    </tr>
    </tbody>
  </table>
</div>

