<h2>Ad product to campaign</h2>
<form [formGroup]="addAdForm" (ngSubmit)="submit()">

 <div class="form-group">
    <label for="id">campaign</label>
    <select class="custom-select" formControlName="id">
      <option value="" selected>Choose the compaign</option>
      <option *ngFor="let campaign of campaigns" [ngValue]="campaign.id">{{campaign.name}}</option>
   </select>
  </div>

  <div class="form-group">
    <label for="product">Product</label>
    <input class="form-control" [value]="product.name">
  </div>
  <button type="cancel" class="btn btn-primary">Cancel</button>
  <button type="submit" class="btn btn-primary" >Submit</button>

</form>